
.complexItemParentDiv {
    border-bottom: 1px solid black;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.complexItemParentDiv:hover {
    /*background-color: #E5E7EB;*/
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    transition: box-shadow .10s;
    cursor: pointer;
}

.complexItemParentDivSelected {
    border-bottom: 1px solid black;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    background-color: #F3F4F6;
}

.complexItemParentDivSelected:hover {
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    transition: box-shadow .10s;
    cursor: pointer;

}